
{{ partial:components/agenda/header heading="h1" }}

{{ if teaser_image:image }}
  <div class="{{ teaser_image:caption ? 'pb-80 md:pb-120' : '' }}">
    <figure class="relative mt-20 md:mt-40">
      <div class="absolute inset-0 pointer-events-none hidden md:block">
        <div class="absolute inset-0 rounded-full border-1.5 border-crimson dark:border-white"></div>
        <div class="absolute inset-y-0 left-80 right-80 rounded-full border-1.5 border-crimson dark:border-white hidden lg:block"></div>
        <div class="absolute inset-y-0 left-160 right-160 rounded-full border-1.5 border-crimson dark:border-white hidden xl:block"></div>
        <div class="absolute inset-y-0 left-240 right-240 rounded-full border-1.5 border-crimson dark:border-white hidden xl:block"></div>
      </div>

      <div class="overflow-hidden rounded-full border-1.5 border-crimson dark:border-white md:max-w-[calc(100%-160px)] lg:max-w-[calc(100%-320px)] xl:max-w-[calc(100%-640px)] mx-auto">
        {{ partial:components/media/image 
          :image="teaser_image:image" 
          :alt="teaser_image:caption" 
          preset="16x10"
          sizes="(min-width: 1024px) 50rem, 100vw"
          class="w-full h-full object-contain"
          :alt="false" }}
      </div>
      
      {{ if teaser_image:caption }}
        <figcaption class="absolute -bottom-50 md:-bottom-70 left-1/2 -translate-x-1/2 w-full text-center text-xxs md:text-xs">
          {{ teaser_image:caption | nl2br }}
        </figcaption>
      {{ /if }}
    </figure>
  </div>
{{ /if }}

<div class="flex flex-col gap-y-60 lg:gap-y-100 pb-64 md:pb-96 {{ !teaser_image:image ? 'mt-32 md:mt-64' : '' }}">
  {{ blocks }}
    {{ partial:components/agenda/blocks }}
  {{ /blocks }}
</div>