  <div class="relative mx-auto w-fit text-crimson dark:text-white {{ class }}">
    {{ partial:components/icons/bracket class="absolute left-0 top-0 h-full w-auto text-crimson dark:text-white" }}
    <div class="flex flex-col text-center text-pretty text-2xl md:text-4xl lg:text-6xl w-full h-auto leading-[0.90] px-32 sm:px-24 md:px-40 lg:px-64">
      {{ claim }}
        {{ partial:components/claim/line }}
      {{ /claim }}
    </div>
    {{ partial:components/icons/bracket class="absolute right-0 top-0 h-full w-auto text-crimson dark:text-white rotate-180" }}
  </div>