@import "tailwindcss";
@import "./partials/fonts.css";
@import "./partials/spacing.css";
@source "../views";
@source "../../content";
@source '../**/*.js';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-chroma: 'Chroma ST', sans-serif;
  --font-trille: 'Trille filled Condensed', sans-serif;
  --font-trille-extra: 'Trille Extra filled Condensed', sans-serif;
  --color-crimson: #FF0000;
  --container-page: 94.5rem;
}

@layer base {
  :root {
    --header-height: 6.25rem;
    --header-height-md: 12.5rem;
    --viewport-height: calc(100vh - var(--header-height) - 2rem);
    --viewport-height-md: calc(100vh - var(--header-height-md) - 4rem);
  }
}

[x-cloak] {
  display: none !important;
}

strong, b {
  @apply font-bold;
}

/* Scroll-driven header animations */
@keyframes header-logo-shrink {
  from {
    width: 100%;
  }
  to {
    width: 425px;
  }
}

@keyframes header-subtitle-slide {
  from {
     opacity: 1;
  }
  to {
    opacity: 0;
  }
}