@import "tailwindcss";
@import "./partials/fonts.css";
@import "./partials/font-sizes.css";
@import "./partials/spacing.css";
@import "./partials/animations.css";

@source "../views";
@source "../../content";
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-chroma: 'Chroma ST', sans-serif;
  --font-trille: 'Trille filled Condensed', sans-serif;
  --font-trille-extra: 'Trille Extra filled Condensed', sans-serif;

  --color-crimson: #FF0000;

  --container-page: 94.5rem;

  --ease-spring: linear(
    0, 0.009, 0.035 2.1%, 0.141 4.4%, 0.723 12.9%, 0.938, 1.099, 1.217 19%,
    1.257, 1.288, 1.311, 1.324, 1.329 24.2%, 1.325, 1.31, 1.288, 1.256,
    1.215 29.1%, 1.088 32.6%, 1.008 35.9%, 0.977, 0.954, 0.939, 0.93, 0.927,
    0.932 44.2%, 0.963 47.2%, 1.001 50.5%, 1.017 53.4%, 1.027, 1.03 57.2%,
    1.027 59.5%, 1.015 62.5%, 0.999 65.5%, 0.994 68.7%, 0.996 72.4%, 1
  );
}

@layer base {
  :root {
    --header-height: 8rem;
    --header-height-md: 11rem;
    --header-height-lg: 14rem;

    --viewport-height: calc(100vh - var(--header-height) - 2rem);
    --viewport-height-md: calc(100vh - var(--header-height-md) - 3rem);
    --viewport-height-lg: calc(100vh - var(--header-height-lg) - 4rem);
  }
}

[x-cloak] {
  display: none !important;
}

strong, b {
  @apply font-bold;
}

h2 {
  @apply tracking-[60%] uppercase text-center;
}

h3 {
  @apply font-bold
}

article h2 {
  @apply mb-6 
}

article p:not(:last-child),
article ul:not(:last-child) {
  @apply mb-20 md:mb-28 lg:mb-36;
}

article ul {
  @apply list-disc m-0 p-0;
}

article li {
  @apply ml-[1em]
}

article li p {
  @apply inline
}

article a:hover {
  @apply underline decoration-2 underline-offset-2 
}


