<header class="sticky top-0 w-full z-50 py-20 md:pt-40  min-h-[var(--header-height)] md:min-h-(--header-height-md) lg:min-h-(--header-height-lg)">

  <div class="relative z-10 mx-auto max-w-page ">

    <div class="mx-auto max-w-6xl">

      <div class="mx-auto w-full">

        <div
          class="hidden md:block w-full mx-auto animate-[header-logo-shrink_linear_both] [animation-timeline:scroll()] [animation-range:0_480px] md:px-28"
          data-header-logo>
            <a 
              href="/" 
              aria-label="Startseite Zünder">
              {{ partial:components/logos/zuender }}
            </a>
        </div>

        <div class="md:hidden">
          <a 
          href="/" 
          aria-label="Startseite Zünder">
            {{ partial:components/logos/zuender size="small" class="w-76 h-auto" }}
          </a>
        </div>

      </div>
      <div 
        class="hidden md:block dark:opacity-50 opacity-70 mt-32 animate-[header-subtitle-slide_linear_both] [animation-timeline:scroll()] [animation-range:0_320px]"
        data-header-subtitle>
        {{ partial:components/logos/byline class="block" }}
      </div>


    </div>


  </div>
  
  {{ partial:components/buttons/theme-toggle class="w-24 h-24 lg:w-34 lg:h-34 absolute right-0 top-26 md:top-40 md:right-0 lg:right-0 z-60" }}

</header>
