<header class="sticky top-0 w-full z-50 pt-20 lg:pt-40 px-20">

  <div class="relative z-10 mx-auto max-w-page">

    <div class="mx-auto max-w-7xl">

      <div 
        class="mx-auto w-full animate-[header-logo-shrink_linear_both] [animation-timeline:scroll()] [animation-range:0_480px]" 
        data-header-logo>
        {{ partial:components/logos/logo }}
      </div>
      <div 
        class="dark:opacity-50 opacity-70 animate-[header-subtitle-slide_linear_both] [animation-timeline:scroll()] [animation-range:0_240px]"
        data-header-subtitle>
        {{ partial:components/logos/byline }}
      </div>


    </div>

    {{ partial:components/buttons/theme-toggle class="absolute top-0 right-20 z-60" }}

  </div>

</header>
