<div class="swiper w-full !pb-48 {{ class }}"{{ if type }} data-{{ type }}{{ /if }}>

  <div class="swiper-wrapper">
    {{ slot }}
  </div>

  {{ if navigation }}
    <button type="button" class="swiper-btn-prev cursor-pointer absolute z-10 left-0 md:left-12 bottom-0 w-12 h-21 md:w-18 md:h-31 lg:w-26 lg:h-45" aria-label="Vorheriger Slide">
      {{ partial:components/icons/chevron-left class="w-full h-auto" }}
    </button>

    <button type="button" class="swiper-btn-next cursor-pointer absolute z-10 right-0 md:right-12 bottom-0 w-12 h-21 md:w-18 md:h-31 lg:w-26 lg:h-45" aria-label="Nächster Slide">
      {{ partial:components/icons/chevron-right class="w-full h-auto" }}
    </button>
  {{ /if }}

</div>
