<div class="w-full max-w-page mx-auto">
  <div class="border-t border-t-crimson dark:border-t-white border-x border-x-crimson dark:border-x-white min-h-40 mb-80 lg:mb-120"></div>
  <footer class="w-full pb-40 lg:pb-80">
    <div class="flex flex-col gap-y-24">
      {{ partial:components/logos/zuender }}
      {{ partial:components/logos/byline }}
    </div>
    <div class="lg:mt-40 lg:grid lg:grid-cols-12 text-[1rem] leading-[1.28]">
      <div class="lg:col-span-4">
        <address class="not-italic">
          <strong>Zünder<br>Ort für kreative Explosionen</strong><br>
          Nüschelerstrasse 45<br>8021 Zürich
        </address>
      </div>
      <div class="lg:col-span-4">
        Unterstützt durch:<br>

      </div>
      <div class="lg:col-span-4">

      </div>
      <div class="lg:col-span-4">

      </div>
    </div>
  </footer>
</div>


