<div class="w-full max-w-page mx-auto">
  <div class="hidden md:block dark:border-t-white border-x-1.5 border-x-crimson dark:border-x-white min-h-40 md:mb-120">
    &nbsp;
  </div>
  <footer class="w-full pb-52 md:pb-80 mt-120 md:mt-0">
    <div class="flex flex-col gap-y-24 mb-52">
      {{ partial:components/logos/zuender }}
      {{ partial:components/logos/byline class="hidden md:block" }}
    </div>
    <div class="flex flex-col md:flex-row justify-between text-xs leading-[1.28]">
      <div class="mb-52 md:mb-0 order-1 md:col-span-3">
        <address class="not-italic flex flex-col">
          <span class="font-bold">{{ address:name | nl2br }}</span>
          <span>{{ address:address | nl2br }}</span>
        </address>
      </div>
      <div class="mb-52 md:mb-0 order-3 md:order-2 md:col-span-3 flex flex-col gap-y-4 md:gap-y-8">
        <div>Unterstützt durch:</div>
        <div>
          <a 
            href="https://www.diemobiliar.ch/" 
            target="_blank" 
            rel="noopener noreferrer"
            aria-label="Zur Website von Die Mobiliar"
            class="text-crimson dark:text-white hover:opacity-60 transition-opacity">
            {{ partial:components/logos/die-mobiliar class="w-150 h-auto" }} 
          </a>
        </div>
      </div>
      <div class="mb-52 md:mb-0 md:col-span-3 order-2 md:order-3">
        {{ partial:components/menu/main/container }}
      </div>
      <div class="md:col-span-3 order-4">
        {{ partial:components/menu/privacy/container }}
      </div>
    </div>
  </footer>
</div>


