<header 
  class="sticky top-0 w-full z-50 pt-20 lg:pt-40 px-20" 
  x-data="{ scrolled: false }" 
  @scroll.window="scrolled = window.scrollY > 0">
  
  <div class="mx-auto max-w-page border-x border-x-crimson dark:border-x-white min-h-240 absolute inset-0"></div>

  <div class="absolute inset-0 bg-linear-to-b from-white from-44% to-transparent dark:from-black pointer-events-none"></div>
  
  <div class="relative z-10 mx-auto max-w-page min-h-240">

    <div class="mx-auto max-w-7xl">

      <div 
        class="mx-auto w-full transition-[width] duration-300" 
        :class="scrolled ? '!w-425' : ''">
        {{ partial:components/icons/logo }}
      </div>

      <span 
        class="lg:text-[1.375rem] uppercase tracking-[100%] text-center block w-full dark:opacity-50 opacity-70 relative translate-y-32 transition-transform duration-300"
        :class="scrolled ? '!translate-y-12' : ''">
        Ort für kreative Explosionen
      </span>

    </div>

    {{ partial:components/buttons/theme-toggle class="absolute top-0 right-20 z-60" }}

  </div>
  
</header>