<main class="flex-1 border-x border-x-crimson dark:border-x-white w-full max-w-page mx-auto">
  {{ slot }}

  <section class="min-h-[60vh] flex flex-col justify-end p-40 border-b border-b-crimson dark:border-b-white">
    <div class="text-center text-3xl" >
      Du hast die zündende Idee?<br>Wir versichern dich im Brandfall.
    </div>
  </section>

  <section class="p-40">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
  </section>

</main>
