<main class="flex-1 md:border-x border-x-crimson dark:border-x-white w-full max-w-page mx-auto">
  {{ slot }}

  <section class="min-h-[var(--viewport-height)] md:min-h-[var(--viewport-height-md)] flex flex-col justify-center md:justify-end md:border-b md:border-b-crimson dark:border-b-white">

    <div class="text-center w-full sm:px-15">

      <div class="relative mx-auto w-fit text-crimson dark:text-white md:mb-72">
        {{ partial:components/icons/bracket class="absolute left-0 top-0 h-full w-auto text-crimson dark:text-white" }}
          <div class="flex flex-col text-center text-pretty text-[1.5rem] md:text-[2rem] lg:text-[3rem] w-full h-auto leading-[0.90] px-16 md:px-40 lg:px-48">
            <span class="text-pretty">Du hast die zündende Idee?</span>
            <span class="text-pretty">Wir versichern dich im Brandfall.</span>
          </div>
        {{ partial:components/icons/bracket class="absolute right-0 top-0 h-full w-auto text-crimson dark:text-white rotate-180" }}
      </div>

    </div>
  </section>

  <section class="py-20 md:p-36">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quidem quibusdam tempora consequatur necessitatibus enim, aperiam debitis id voluptatibus voluptatem corrupti animi non facere, molestiae placeat natus velit pariatur.</p>
  </section>

</main>
