<div class="md:mx-16 lg:mx-24">

  {{ if date_start || date_end }}
    {{ partial:components/teaser/pill class="mx-auto mb-8 lg:mb-12" }}
      {{ if date_start && date_end }}
        {{ date_start | format('d.m.') }} – {{ date_end | format('d.m.') }}
      {{ elseif date_start && ! date_end }}
        {{ date_start | format('d.m.') }}
      {{ elseif ! date_start && date_end }}
        {{ date_end | format('d.m.') }}
      {{ /if }}
    {{ /partial:components/teaser/pill }}
  {{ /if }}
  
  {{ if title }}
    <div class="border border-crimson dark:border-white rounded-full flex items-center justify-center py-4 px-16 lg:py-12 lg:px-24 relative">
      <h2 class="font-trille-extra text-center text-5xl md:text-7xl lg:text-8xl xl:text-9xl leading-[.8] -mt-6 md:-mt-10 lg:-mt-16 !tracking-normal">
        {{ title | nl2br }}
      </h2>
    </div>
  {{ /if }}

  {{ if type || opening_hours }}
    <div class="mt-8 md:mt-12 mx-16 md:mx-32 lg:mx-48 flex flex-col gap-y-8 sm:gap-y-0 items-center sm:flex-row justify-between">
      {{ if type }}
        {{ partial:components/teaser/pill class="uppercase" }}
          {{ type }}
        {{ /partial:components/teaser/pill }}
      {{ /if }}
      {{ if opening_hours }}
        {{ partial:components/teaser/pill }}
          {{ opening_hours }}
        {{ /partial:components/teaser/pill }}
      {{ /if }}
    </div>
  {{ /if }}

  {{ if teaser_image }}
    <div class="mt-12 lg:mt-60 lg:mx-auto lg:max-w-[50rem]">
      {{ partial:components/media/image 
        :image="teaser_image:image" 
        :alt="teaser_image:caption" 
        preset="16x10"
        sizes="(min-width: 1024px) 50rem, 100vw"
        :captionClass="'text-center text-xxs md:text-xs mt-6 md:mt-12'" }}
    </div>
  {{ /if }}
</div>