<section class="flex flex-col justify-center md:border-b-1.5 md:border-b-crimson dark:border-b-white pt-16 pb-128 lg:pt-32 lg:pb-96">
  {{ partial:components/swiper/container type="agenda-teaser" navigation="true" }}
    {{ entries }}
      {{ partial:components/swiper/slide }}
        {{ partial:components/agenda/item title="{title}" date_start="{date_start}" date_end="{date_end}" }}
      {{ /partial:components/swiper/slide }}
    {{ /entries }}
  {{ /partial:components/swiper/container }}
</section>
