<section class="flex flex-col justify-center md:border-b md:border-b-crimson dark:border-b-white mt-32 lg:mt-64 -ml-16 md:ml-0 -mr-16 md:mr-0">

  {{ if title }}
    <h1 aria-label="{{ title }}">
      {{ partial:components/headings/contact }}
    </h1>
  {{ /if }}

  <div class="px-16 mt-72 mb-64 md:mt-128 md:mb-96 lg:mt-172 lg:mb-128">
    {{ if editor }}
      <article class="max-w-[75rem] mx-auto text-center text-[1.125rem] md:text-[1.625rem] lg:text-[2.125rem] leading-[1.2] flex flex-col gap-y-32 lg:gap-y-48">
        {{ partial:fieldsets/editor :content="editor" }}
      </article>
    {{ /if }}
  </div>


</section>