<section class="flex flex-col justify-center md:border-b-1.5 md:border-b-crimson dark:border-b-white -ml-16 md:ml-0 -mr-16 md:mr-0">

  {{ if title }}
    <h2 aria-label="{{ title }}">
      {{ partial:components/headings/space }}
    </h2>
  {{ /if }}

  <div class="px-16 mt-32 mb-64 md:mt-48 md:mb-96 lg:mt-64 lg:mb-128">
    
    {{ if top_editor }}
      <article class="max-w-[40rem] mx-auto">
        {{ partial:fieldsets/editor :content="top_editor" }}
      </article>
    {{ /if }}

    {{ if claim }}
      {{ partial:components/claim/container class="my-60 md:my-90 lg:my-120" }}
    {{ /if }}

    {{ if bottom_editor }}
      <article class="max-w-[40rem] mx-auto">
        {{ partial:fieldsets/editor :content="bottom_editor" }}
      </article>
    {{ /if }}

  </div>

</section>